<html>
    <body onload = "myFunction()">

        You: {{ sender_email }} <br>
        Friend: {{ receiver_email }} <br>
        <div>
            <ul id = 'message_list'>
                {% for msg in messages %}
                <li> 
                    <font size = "4" color="red"> {{ msg.sender }} </font>: {{ msg.message }}
                </li>
                {% endfor %}
            </ul>
        
            <div id = "para"  >
                <input type="text" id = "message_box" name="message"> <br>
                <input type="submit" name = "submit" id = "submit" value = "submit"  ><br>
            </div>
            <br>

            {% include "footer.html" %}
        
        </div>
        <!-- <form action="/logout">
            <input type="submit" value="logout"><br>
        </form> -->
    </body>
    <script type="text/javascript" src="/js/jquery.min.js" ></script>
    <script>
        var polling_for_message = "{{ message_id }}";
        var receiver_email = "{{ receiver_email }}";
    </script>
    <script src="/js/main.js"></script>

</html>