<html>
    <head>
        <title></title>
    </head>
    <body>
        Welcome to chat !!!!!<br>
        Please select user <br><br>
        
        {% for friend in friends %}
        {{ friend.user_name }} 
        <a href = "/person/{{ friend.key.id }}"  name = "{{ friend.key.id }}" > 
            {{ friend.email }} 
        </a>
        <br>

        {% endfor %}
        <br>
        {% include "footer.html" %}

        <!-- <form action="/logout">
            <input type="submit" value="logout"><br>
        </form> -->
    </body>
</html>